{% extends 'app/base.html' %}
{% load static %}
{% block title %} Change Password Done {% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-9 offset-sm-1 text-center">
      <h3>Password Changed Successfully!!</h3>
      <div style="width:80%;height:0;padding-bottom:50%;position:relative;">
          <iframe src="https://giphy.com/embed/YlSR3n9yZrxfgVzagm" width="200" height="200" style="position:absolute" frameBorder="0" class="giphy-embed" ></iframe>
      </div>
  </div>
 </div>
</div>
{% endblock main-content %}