{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <h2 class="">Search Result...</h2>
    <hr>
    <br>
    <h3 class="text-center text-warning">{{message}}</h3>
    {% for product in products %}
    <div class="row">
          <div class="col-sm-6 text-center align-self-center">
           <img height="250" width="250" src="{{product.product_image.url}}" alt="" class="img-fluid img-thumbnail">
          </div>
          <div class="col-sm-5 offset-sm-1">
           <h2>Product Title: {{product.title}}</h2>
           <hr>
           <p>Product Description: {{product.description}}</p> <br>
           <h4>Tk. {{product.discount_price}} <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></h4> <br>
          </div>
         </div>
    <hr>
    <br>
    {% endfor %}
</div>
{% endblock main-content %}